#principal {
    background-color: forestgreen;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

h1 {
    text-align: center;
}

#botoncero, #botonuno, #botondos {
    cursor: pointer;
    font-size: 25px;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0);
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
}

#footer {
    background-color: rgb(0, 0, 0);
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgb(255, 255, 255);
    text-align: center;
}

#footeruno {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#footeruno a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#footeruno a:hover {
    text-decoration: underline;
}
